.metacoin {
  input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  form {
    margin: 30px 0;
    :global(.btn) {
      &:hover {
        color: rgb(80, 80, 80);
      }
    }
  }
  ul {
    list-style-type: none;
    li {
      margin-top: 10px;
      margin-bottom: 10px;
      div {
        display: inline-block;
        word-wrap: break-word;
        vertical-align: top;
        text-align: center;
      }
      .txnAddress {
        display: inline-block;
        font-size: 12px;
      }
      .txnAmountWrap {
        display: inline-block;
        font-size: 16px;
        line-height: 16px;
        width: 100px;
        margin-top: -4px;
        .txnValue {
          color: rgb(51,51,51);
          font-weight: 600;
          font-size: 12px;
          display: block;
          span {
            font-size: 10px;
          }
        }
      }
    }
  }
}